html {
  font-family: 'Noto Sans Thai', sans-serif;
}

body {
  counter-reset: my-counter;
}

.square::before {
  counter-increment: my-counter;
  content: counter(my-counter);
}

.header-nav-link a {
  font-size: var(--st-type-base-size);
  font-weight: var(--st-font-weight-2);
  font-family: var(--st-font-family);
  color: var(--st-s-text--black800);
  text-decoration: none;
  text-align: center;
  line-height: 25px;
}

.header-nav-link_active {
  border-bottom: 3px solid #EE415F;
}

.footer-nav-link a {
  font-size: var(--st-type-base-size);
  font-weight: var(--st-font-weight-2);
  font-family: var(--st-font-family);
  color: var(--st-s-color--white900);
  text-decoration: none;
  margin-left: 2.5rem;
  line-height: 22px;
}

.footer-link {
  font-size: var(--st-type-base-size);
  color: var(--st-s-text--white500);
  text-decoration: none;
  margin-left: 2.5rem;
  line-height: 22px;
}


.bread_active {
  font-weight: var(--st-font-weight-6);
}

.breadcrumb a,
.row a {
  text-decoration: none;
  color: var(--st-s-text--black800);
}

.banner_image {
  width: 100%;
  height: 40vh;
  border-radius: var(--st-border-size-4);
  object-fit: cover;
}

.subscribe-field {
  min-height: 45vh;
}

.subscribe-field img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  min-height: 45vh;
}
.subsrcibe-text {
  position: absolute;
  top: 10rem;
  left: 37rem;
}
.subsrcibe-form {
  position: absolute;
  top: 7.5rem;
  right: 20.5rem;
}


.square {
  height: 32px;
  width: 32px;
  border: 1px solid black;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  padding-top: 3px;
  margin-right: 2rem;
}


.login_field {
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.login-logo-image_size {
  width: 160px;
  height: 160px;
}


/* Sidebar */
.row-recipes {
  display: flex;
  position: relative;
  min-height: 100vh;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.sign-out {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
}

.col-left {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 10vw;
  color: #FFFFFF;
  background-color: #EE415F;
  text-align: center;
}

.col-left a {
  color: inherit;
  text-decoration: none;
}

.col-right {
  position: absolute;
  right: 0;
  top: 0;
  width: 90vw;
  padding: 2rem;
  /* min-height: 100vh; */
}

.content {
  margin: 1.5rem 0 1.5rem;
  border-top: 1px solid #232323;
  border-bottom: 1px solid #232323;
  padding: 0 0 1rem 0;
  height: 75vh;
  overflow-y: auto;
}

.shadow-bar {
  width: 86vw;
  background-color: #FFFFFF;
  height: 15px;
  position: fixed;
}

.text-unerline {
  border-bottom: 3px solid;
}

.td-end {
  display: flex;
  justify-content: flex-end;
}

.td-end a {
  color: #232323;
}

.pagination li a {
  color: var(--st-s-text--black800);
  border: none;
}

.pagination .active a {
  background-color: var(--st-tertiary-500);
}

.description,
.instructions {
  height: 20vh;
}

.up-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px dashed #E7E7E7;
  border-radius: 5px;
  height: auto;
}

i.fa-light.fa-image {
  font-size: 54px;
}

.ingradients-checkbox-field {
  min-height: 50vh;
  padding: 0 2rem 0 2rem;
  overflow-y: auto;
  margin-left: 0.6vw;
  width: 99.99% !important;
}

/* -webkit-scrollbar */
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}




@media (max-width: 768px) {
  .row-recipes {
    width: 100vw;
    overflow-x: hidden;
  }

  .col-left {
    width: 20vw;
  }

  .col-right {
    width: 80vw;
    height: 100vh;
  }

  .ingradients-checkbox-field {
    margin-left: 1.6vw;
    width: 98% !important;
    height: 50vh;
  }

  .row-checkbox-rps {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    overflow-y: auto;
  }

  .sign-out {
    position: absolute;
    bottom: 3rem;
    left: 2rem;
  }

  .td-end {
    display: table-cell;
  }

  div.delete button {
    width: 50% !important;
    margin-right: 2rem;
  }

  .update input {
    width: 100% !important;
  }

  .subsrcibe-text {
    position: absolute;
    top: 10rem;
    left: 4rem;
  }
  .subsrcibe-form {
    position: absolute;
    top: 8.5rem;
    right: 4rem;
  }
  .footer-nav-link a {
    font-size: 1rem;
    text-decoration: none;
    margin-left: 0;
    line-height: 22px;
    text-align: center;
  }


}

/* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .col-left {
    width: 20vw;
    height: 100vh;
  }

  .col-right {
    height: 100vh;
    width: 80vw;
    padding: 10px;
  }

  i.fa-solid.fa-chevron-left,
  p.nav-header {
    font-size: 1.3rem;
  }

  img.logo-side {
    height: 2rem;
  }

  p.mt-3.side-recipes,
  i.fa-pot-food.fa-solid {
    font-size: 0.5rem;
  }

  .w-75.content-rps {
    width: 100% !important;
  }

  .ingradients-checkbox-field {
    margin-left: 3.1vw;
    width: 97% !important;
  }

  button.catagory-btn {
    min-width: 100%;
  }

  i.fa-light.fa-image {
    font-size: 20px;
  }

  a.text-center.w-75,
  a.text-center.w-75 p {
    font-size: 0.5rem;
  }

  .instructions-box {
    width: 100% !important;
  }

  .sign-out {
    left: 0.5rem;
    align-items: center;
  }

  .sign-out a,
  .sign-out i {
    font-size: 0.5rem;
  }

  table {
    font-size: 0.5rem;
  }

  .table-outline-rps {
    padding: 0 !important;
    margin: 0 !important;
  }

  .footer-submit div {
    justify-content: center !important;
  }

  .footer-submit div a,
  .footer-submit div button,
  .footer-submit div input {
    font-size: 0.5rem;
    margin: 0 0.5rem 0 0 !important;
  }

  .add-recipes-rps {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  .add-recipes-rps button {
    font-size: 0.5rem;
    padding: 8px;
  }

  .pagination li.page-item,
  .pagination li a,
  .pagination i.fa-solid,
  .page-link-rps span,
  .page-link-rps div.dropdown button p {
    font-size: 0.5rem !important;
    margin: 0px !important;
    padding: 0px 2px 0px 2px !important;
    text-align: center !important;
  }

  .page-link-rps div.dropdown {
    width: 40% !important;
    margin-left: 5px !important;
  }

  .page-link-rps div.dropdown button {
    padding: 3px !important;
  }
  
  .td-end {
    display: table-cell;
  }

  .instructions {
    width: 68vw !important;
  }

  div.modal-content  {
    width: 85vw !important;
    margin: auto;
  }

  .modal-footer button,
  .modal-footer a button {
    width: 100% !important;
  }

  .subscribe-field h2,
  .subscribe-field p,
  .subscribe-field input,
  .subscribe-field button {
    font-size: 0.5rem;
  }
  .subsrcibe-text {
    position: absolute;
    top: 6rem;
    left: 3rem;
  }
  .subsrcibe-form {
    position: absolute;
    top: 5rem;
    right: 2rem;
  }
  .subsrcibe-form  {
    position: absolute;
    top: 4rem;
    right: 2rem;
  }

  .breadcrumb li.breadcrumb-item {
    font-size: 0.5rem;
  }

  .footer-nav-link a {
    font-size: 1rem;
    text-decoration: none;
    margin-left: 0;
    line-height: 22px;
    text-align: center;
  }

}