/* Border color */
.st-u-border-color--primary-100 {
  border-color: var(--st-primary-100) !important;
}

.st-u-border-color--primary-75 {
  border-color: solid var(--st-primary-75) !important;
}

.st-u-border-color--primary-50 {
  border-color: var(--st-primary-50) !important;
}

.st-u-border-color--primary-25 {
  border-color: var(--st-primary-25) !important;
}

.st-u-border-color--primary-5 {
  border-color: var(--st-primary-5) !important;
}

.st-u-border-color--overline {
  border-color: var(--st-theme-2) !important;
}

.st-u-border-color--secondary-100 {
  border-color: var(--st-secondary-100) !important;
}

/* Size */
.st-u-border-size--1 {
  border: var(--st-border-size-1) solid;
}

.st-u-border-size--2 {
  border: var(--st-border-size-2) solid;
}

.st-u-border--dashed {
  border-style: dashed;
}

/* Round */
.st-u-border-round--0 {
  border-radius: 0 !important;
}

.st-u-border-round--1 {
  border-radius: var(--st-radius-1) !important;
}

.st-u-border-round--2 {
  border-radius: var(--st-radius-2) !important;
}

.st-u-border-round--3 {
  border-radius: var(--st-radius-3) !important;
}

.st-u-border-round--4 {
  border-radius: var(--st-radius-4) !important;
}

.st-u-rounded {
  border-radius: var(--st-radius-2) !important;
}

.st-u-rounded-start {
  border-bottom-left-radius: var(--st-radius-2) !important;
  border-top-left-radius: var(--st-radius-2) !important;
}

.st-u-rounded-top {
  border-top-right-radius: var(--st-radius-2) !important;
  border-top-left-radius: var(--st-radius-2) !important;
}

.st-u-rounded-end {
  border-bottom-right-radius: var(--st-radius-2) !important;
  border-top-right-radius: var(--st-radius-2) !important;
}

.st-u-rounded-bottom {
  border-bottom-right-radius: var(--st-radius-2) !important;
  border-bottom-left-radius: var(--st-radius-2) !important;
}

.st-vl {
  border-left: 1px solid var(--st-primary-75);
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 0;
}

.st-hl {
  border-top: 1px solid var(--st-primary-75);
  width: 100%;
  position: absolute;
  left: 0;
  margin-top: -1px;
  top: 50%;
}
