.st-u-headline-1 {
  font-size: var(--st-font-size-9);
  line-height: var(--st-font-lineheight-3);
  font-weight: var(--st-font-weight-7);
}

.st-u-headline-2 {
  font-size: var(--st-font-size-8);
  line-height: var(--st-font-lineheight-3);
  font-weight: var(--st-font-weight-5);
}

.st-u-headline-3 {
  font-size: var(--st-font-size-7);
  line-height: var(--st-font-lineheight-3);
  font-weight: var(--st-font-weight-5);
}

.st-u-headline-4 {
  font-size: var(--st-font-size-6);
  line-height: var(--st-font-lineheight-3);
  font-weight: var(--st-font-weight-5);
}

.st-u-title-1 {
  font-size: var(--st-font-size-5);
  line-height: var(--st-font-lineheight-3);
  font-weight: var(--st-font-weight-5);
}

.st-u-title-2 {
  font-size: var(--st-font-size-4);
  line-height: var(--st-font-lineheight-3);
  font-weight: var(--st-font-weight-5);
}

.st-u-body--bold {
  font-size: var(--st-font-size-3);
  line-height: var(--st-font-lineheight-1);
  font-weight: var(--st-font-weight-5);
}

.st-u-body {
  font-size: var(--st-font-size-3);
  line-height: var(--st-font-lineheight-1);
  font-weight: var(--st-font-weight-4);
}

.st-u-subbody-1--bold {
  font-size: var(--st-font-size-2);
  line-height: var(--st-font-lineheight-1);
  font-weight: var(--st-font-weight-5);
}

.st-u-subbody-1 {
  font-size: var(--st-font-size-2);
  line-height: var(--st-font-lineheight-1);
  font-weight: var(--st-font-weight-4);
}

.st-u-subbody-2--bold {
  font-size: var(--st-font-size-1);
  line-height: var(--st-font-lineheight-1);
  font-weight: var(--st-font-weight-5);
}

.st-u-subbody-2 {
  font-size: var(--st-font-size-1);
  line-height: var(--st-font-lineheight-1);
  font-weight: var(--st-font-weight-4);
}

@media (min-width: 992px) {
  .st-u-headline-1 {
    font-size: var(--st-font-size-10);
    line-height: var(--st-font-lineheight-3);
    font-weight: var(--st-font-weight-7);
  }

  .st-u-headline-2 {
    font-size: var(--st-font-size-9);
    line-height: var(--st-font-lineheight-3);
    font-weight: var(--st-font-weight-5);
  }

  .st-u-headline-3 {
    font-size: var(--st-font-size-8);
    line-height: var(--st-font-lineheight-3);
    font-weight: var(--st-font-weight-5);
  }

  .st-u-headline-4 {
    font-size: var(--st-font-size-7);
    line-height: var(--st-font-lineheight-3);
    font-weight: var(--st-font-weight-5);
  }

  .st-u-title-1 {
    font-size: var(--st-font-size-6);
    line-height: var(--st-font-lineheight-3);
    font-weight: var(--st-font-weight-5);
  }

  .st-u-title-2 {
    font-size: var(--st-font-size-5);
    line-height: var(--st-font-lineheight-3);
    font-weight: var(--st-font-weight-5);
  }

  .st-u-body--bold {
    font-size: var(--st-font-size-4);
    line-height: var(--st-font-lineheight-1);
    font-weight: var(--st-font-weight-5);
  }

  .st-u-body {
    font-size: var(--st-font-size-4);
    line-height: var(--st-font-lineheight-1);
    font-weight: var(--st-font-weight-4);
  }

  .st-u-subbody-1--bold {
    font-size: var(--st-font-size-3);
    line-height: var(--st-font-lineheight-1);
    font-weight: var(--st-font-weight-5);
  }

  .st-u-subbody-1 {
    font-size: var(--st-font-size-3);
    line-height: var(--st-font-lineheight-1);
    font-weight: var(--st-font-weight-4);
  }

  .st-u-subbody-2--bold {
    font-size: var(--st-font-size-2);
    line-height: var(--st-font-lineheight-1);
    font-weight: var(--st-font-weight-5);
  }

  .st-u-subbody-2 {
    font-size: var(--st-font-size-2);
    line-height: var(--st-font-lineheight-1);
    font-weight: var(--st-font-weight-4);
  }

  .st-u-subbody-2--smallest-bold {
    font-size: var(--st-font-size-1);
    line-height: var(--st-font-lineheight-1);
    font-weight: var(--st-font-weight-5);
  }

  .st-u-subbody-2--smallest {
    font-size: var(--st-font-size-1);
    line-height: var(--st-font-lineheight-1);
    font-weight: var(--st-font-weight-4);
  }
}

.st-u-text-xs {
  font-size: var(--st-font-size-00);
  line-height: var(--st-font-lineheight-1);
}

.st-u-text-sm {
  font-size: var(--st-font-size-0);
  line-height: var(--st-font-lineheight-1);
}

.st-u-text {
  font-size: var(--st-font-size-1);
  line-height: var(--st-font-lineheight-1);
}

.st-u-text-lg {
  font-size: var(--st-font-size-2);
  line-height: var(--st-font-lineheight-1);
}

.st-u-text-2x {
  font-size: var(--st-font-size-3);
  line-height: var(--st-font-lineheight-3);
}

.st-u-text-3x {
  font-size: var(--st-font-size-4);
  line-height: var(--st-font-lineheight-3);
}

.st-u-text-4x {
  font-size: var(--st-font-size-5);
  line-height: var(--st-font-lineheight-3);
}

.st-u-text-5x {
  font-size: var(--st-font-size-6);
  line-height: var(--st-font-lineheight-3);
}

.st-u-text-6x {
  font-size: var(--st-font-size-7);
  line-height: var(--st-font-lineheight-3);
}

.st-u-text-7x {
  font-size: var(--st-font-size-8);
  line-height: var(--st-font-lineheight-3);
}

.st-u-text-8x {
  font-size: var(--st-font-size-9);
  line-height: var(--st-font-lineheight-3);
}

.st-u-text-9x {
  font-size: var(--st-font-size-10);
  line-height: var(--st-font-lineheight-3);
}
