    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light px-4">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img src="/assets/logo-nav.svg" alt="logo-nav">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="header-nav-link active" aria-current="page" href="#">Breakfast</a>
                        </li>
                        <li class="nav-item">
                            <a class="header-nav-link" href="#">Lunch</a>
                        </li>
                        <li class="nav-item">
                            <a class="header-nav-link" href="#">Dinner</a>
                        </li>
                        <li class="nav-item">
                            <a class="header-nav-link" href="#">Dessert</a>
                        </li>
                        <li class="nav-item">
                            <a class="header-nav-link" href="#">Drink</a>
                        </li>
                        <li class="nav-item">
                            <a class="header-nav-link" href="#">Snack & Appetizers</a>
                        </li>
                        <li class="nav-item">
                            <a class="header-nav-link" href="./views/all_recipes.html">All Recipes</a>
                        </li>
                    </ul>
                    <a href="/views/admin_login.html"><button class="st-c-btn-primary"> For Admin </button></a>
                    
                </div>
            </div>
        </nav>
    </header>

    <main>
        <div class="container my-5">
            <div class="row">
                <div class="col">
                    <!-- card1 -->

                    <a href="/views/view_detail.html">
                        <div class="st-c-card-horizontal">
                            <img class="st-c-card-horizontal--image" src="https://www.gomacro.com/prodgomacro/media/supportmedia/2021/02/02/gluten-free-food-r2.jpg" alt="...">
                            <div class="st-c-card-horizontal--text">
                                <h5 class="st-c-card-text--header">Eggs Benedict Burgers</h5>
                                <p class="st-s-text--tertiary500">Lunch</p>
                                <p> &emsp; Once a week, we have Fancy Burger Night. We take a pound of lean ground beef
                                    and
                                    try to
                                    make it the un-leanest thing we’ll eat all week. And that right there, that was my
                                    husband’s latest contribution, The Eggs Benedict Burger.
                                </p>
                                <p class="st-c-card-text--date">2 Nov, 2022</p>
                            </div>
                        </div>
                    </a>

                    <div class="st-c-card-horizontal my-4">
                        <img class="st-c-card-horizontal--image" src="https://www.gomacro.com/prodgomacro/media/supportmedia/2021/02/02/gluten-free-food-r2.jpg" alt="...">
                        <div class="st-c-card-horizontal--text">
                            <h5 class="st-c-card-text--header">Avocado Caesar Salad</h5>
                            <p class="st-s-text--tertiary500">Sanck & Appetizers</p>
                            <p> An all-time favorite, the classic Caesar salad with romaine lettuce, homemade
                                croutons,
                                Parmesan cheese and an avocado-based Caesar salad dressing. Excellent source of
                                Vitamin
                                A. Good source of Vitamin C and Iron.
                            </p>
                            <p class="st-c-card-text--date">2 Nov, 2022</p>
                        </div>
                    </div>

                </div>


                <div class="col">
                    <div class="st-c-card">
                        <img class="st-c-card-image" src="https://www.gomacro.com/prodgomacro/media/supportmedia/2021/02/02/gluten-free-food-r2.jpg" alt="...">
                        <div class="st-c-card-text">
                            <h5 class="st-c-card-text--header">Honey & Fruit Toast</h5>
                            <p class="st-s-text--tertiary500"> Dessert </p>
                            <p> Honey Toast Recipe - Easy Breakfast Ideas for Kids with step wise pictures. Super
                                good
                                honey toast which taste so delicious for breakfast.
                            </p>
                            <p class="st-c-card-text--date"> 1 Nov, 2022 </p>
                        </div>
                    </div>
                </div>
            </div>

        </div>


        <!-- Subscribe field -->
        <div class="container-fluid brand-background">
            <div class="row px-5">
                <div class="col-4"></div>
                <div class="col-3 my-lg-5 st-s-text--white50">
                    <h2> Subscribe Now! </h5>
                        <p>
                            You wil never miss our latest recipes, etc.</br> Our newsletter is one a week, every
                            Sunday.
                        </p>
                </div>
                <div class="col-3 offset-1 my-lg-5">
                    <form>
                        <div class="mt-3">
                            <input class="form-control st-c-form-input" placeholder="Name">
                        </div>
                        <div class="mt-3">
                            <input class="form-control st-c-form-input" placeholder="Email Address">
                        </div>
                        <button class="st-c-btn-black mt-4" type="submit"> Subscribe </button>
                    </form>
                </div>
            </div>
        </div>

        <!-- 8 cards -->
        <div class="container px-5 mx-auto">

            <!-- 1st row -->
            <div class="row">
                <div class="col p-3">
                    <div class="st-c-card-small">
                        <img class="st-c-card-mall--image" src="https://www.gomacro.com/prodgomacro/media/supportmedia/2021/02/02/gluten-free-food-r2.jpg" alt="...">
                        <div class="st-c-card-mall--text p-2">
                            <h5 class="st-c-card-text--header"> Oatmeal Cookies </h5>
                            <p class="st-s-text--tertiary500"> Sanck & Appetizers </p>
                            <p> These oatmeal cookies are perfectly flavored and lightly spiced with just a touch of
                                cinnamon.
                            </p>
                            <p class="st-c-card-text--date"> 30 Oct,2022 </p>
                        </div>
                    </div>
                </div>
                <div class="col p-3">
                    <div class="st-c-card-small">
                        <img class="st-c-card-mall--image" src="https://www.gomacro.com/prodgomacro/media/supportmedia/2021/02/02/gluten-free-food-r2.jpg" alt="...">
                        <div class="st-c-card-mall--text p-2">
                            <h5 class="st-c-card-text--header"> Meat Ball </h5>
                            <p class="st-s-text--tertiary500"> Sanck & Appetizers </p>
                            <p> A meatball recipe that rivals that of your favorite Italian restaurant! These
                                meatballs
                                always come out amazingly tender, deliciously flavorful and they’re always sure to
                                impress!
                            </p>
                            <p class="st-c-card-text--date"> 29 Oct,2022 </p>
                        </div>
                    </div>
                </div>
                <div class="col p-3">
                    <div class="st-c-card-small">
                        <img class="st-c-card-mall--image" src="https://www.gomacro.com/prodgomacro/media/supportmedia/2021/02/02/gluten-free-food-r2.jpg" alt="...">
                        <div class="st-c-card-mall--text p-2">
                            <h5 class="st-c-card-text--header"> Fish Taco </h5>
                            <p class="st-s-text--tertiary500"> Dinner </p>
                            <p> Our all-time favorite Fish Tacos recipe! These are loaded with fresh ingredients and
                                perfectly seasoned plump fish.
                            </p>
                            <p class="st-c-card-text--date"> 29 Oct,2022 </p>
                        </div>
                    </div>
                </div>
                <div class="col p-3">
                    <div class="st-c-card-small">
                        <img class="st-c-card-mall--image" src="https://www.gomacro.com/prodgomacro/media/supportmedia/2021/02/02/gluten-free-food-r2.jpg" alt="...">
                        <div class="st-c-card-mall--text p-2">
                            <h5 class="st-c-card-text--header"> Dumpling </h5>
                            <p class="st-s-text--tertiary500"> Sanck & Appetizers </p>
                            <p> Dumplings are intimidating (well, they can be). But they also are, in fact,
                                delicious.
                                No matter what you stuff them with.
                            </p>
                            <p class="st-c-card-text--date"> 29 Oct,2022 </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col p-3">
                    <div class="st-c-card-small">
                        <img class="st-c-card-mall--image" src="https://www.gomacro.com/prodgomacro/media/supportmedia/2021/02/02/gluten-free-food-r2.jpg" alt="...">
                        <div class="st-c-card-mall--text p-2">
                            <h5 class="st-c-card-text--header"> Pumpkin Soup </h5>
                            <p class="st-s-text--tertiary500"> Dinner </p>
                            <p> Pumpkin soup in the fall is something that never gets old. It's healthy, super
                                creamy,
                                and keeps you cozy.
                            </p>
                            <p class="st-c-card-text--date"> 27 Oct,2022 </p>
                        </div>
                    </div>
                </div>
                <div class="col p-3">
                    <div class="st-c-card-small">
                        <img class="st-c-card-mall--image" src="https://www.gomacro.com/prodgomacro/media/supportmedia/2021/02/02/gluten-free-food-r2.jpg" alt="...">
                        <div class="st-c-card-mall--text p-2">
                            <h5 class="st-c-card-text--header"> Orange Cheesec. </h5>
                            <p class="st-s-text--tertiary500"> Dessert </p>
                            <p> Orange Cheesecake Tarts a flaky pie crust filled with a creamy no bake orange
                                filling.
                                These mini tarts will be gone in minutes. The perfect dessert or snack. So
                                delicious!
                            </p>
                            <p class="st-c-card-text--date"> 27 Oct,2022 </p>
                        </div>
                    </div>
                </div>
                <div class="col p-3">
                    <div class="st-c-card-small">
                        <img class="st-c-card-mall--image" src="https://www.gomacro.com/prodgomacro/media/supportmedia/2021/02/02/gluten-free-food-r2.jpg" alt="...">
                        <div class="st-c-card-mall--text p-2">
                            <h5 class="st-c-card-text--header"> Ginger-Lemon ... </h5>
                            <p class="st-s-text--tertiary500"> Drink </p>
                            <p> Whether you're hosting a cocktail party or throwing together a tailgate, it is
                                always
                                nice to have an alcohol-free drink option.
                            </p>
                            <p class="st-c-card-text--date"> 26 Oct,2022 </p>
                        </div>
                    </div>
                </div>
                <div class="col p-3">
                    <div class="st-c-card-small">
                        <img class="st-c-card-mall--image" src="https://www.gomacro.com/prodgomacro/media/supportmedia/2021/02/02/gluten-free-food-r2.jpg" alt="...">
                        <div class="st-c-card-mall--text p-2">
                            <h5 class="st-c-card-text--header"> Salmon Caesar ... </h5>
                            <p class="st-s-text--tertiary500"> Sanck & Appetizers </p>
                            <p> This Salmon Caesar Salad is a healthy and delicious take on a classic Caesar. It
                                features easy homemade dressing, freshly baked croutons, and pan-seared salmon.
                            </p>
                            <p class="st-c-card-text--date"> 25 Oct.2022 </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="container d-flex justify-content-center"><a href="/views/all_recipes.html" class="st-c-btn-primary--ghost my-4">View All</a></div>

        


    </main>

    <footer class="mt-5">
        <div class="footer py-3 st-s-color--primary500">
            <div class="d-flex justify-content-center mt-4 mb-3">
                <img src="/assets/logo-footer.svg" alt="logo-footer">
            </div>
            <ul class="nav justify-content-center border-bottom pb-3 mb-3 mt-3">
                <li class="nav-item">
                    <a class="st-s-text--white50 text-decoration-none px-3" aria-current="page" href="#">Breakfast</a>
                </li>
                <li class="nav-item">
                    <a class="st-s-text--white50 text-decoration-none px-3" href="#">Lunch</a>
                </li>
                <li class="nav-item">
                    <a class="st-s-text--white50 text-decoration-none px-3" href="#">Dinner</a>
                </li>
                <li class="nav-item">
                    <a class="st-s-text--white50 text-decoration-none px-3" href="#">Dessert</a>
                </li>
                <li class="nav-item">
                    <a class="st-s-text--white50 text-decoration-none px-3" href="#">Drink</a>
                </li>
                <li class="nav-item">
                    <a class="st-s-text--white50 text-decoration-none px-3" href="#">Snack&Appetizers</a>
                </li>
                <li class="nav-item">
                    <a class="st-s-text--white50 text-decoration-none px-3" href="#">All Recipes</a>
                </li>
            </ul>
            <div class="d-flex justify-content-center mb-5">
                <small class="st-s-text--white50">
                    ©2022 Banana Coding Co., Ltd. all rights reserved
                </small>

            </div>
        </div>
    </footer>