.st-c-card {
  display: flex;
  flex-direction: column;
  height: 598px;
  border:1px solid var(--st-white-500);
  border-radius: var(--st-radius-2);
  width: 374px;
}

.st-c-card-image {
  height: 297px;
  width: 100%;
  border-radius: var(--st-radius-2);
  object-fit: cover;
}

.st-c-card-text {
  display: flex;
  flex-direction: column;
  padding: 25px 32px;
  margin-bottom: 0;
}

.st-c-card-text--header {
  font-size: var(--st-font-header-5);
}

.st-c-card-text--date {
  font-size: var(--st-font-size-1);
  padding-top: 16px;
  margin-top: auto;
  margin-bottom: 0;
}

.st-c-card-horizontal {
  display: flex;
  width: 743px;
  height: 374px;
  border:1px solid var(--st-white-500);
  border-radius: var(--st-radius-2);
}

.st-c-card-horizontal--text {
  display: flex;
  flex-direction: column;
  padding: 25px 32px;
}

.st-c-card-horizontal--image {
  width: 297px;
  height: 100%;
  border-radius: var(--st-radius-2);
  object-fit: cover;
}

.st-c-card-small {
  display: flex;
  flex-direction: column;
  height: 560px;
  border:1px solid var(--st-white-500);
  border-radius: var(--st-radius-2);
  width: 254px;
}

.st-c-card-small--image {
  min-height: 25vh;
  max-height: 25vh;
  width: 100%;
  border-radius: var(--st-radius-2);
  object-fit: cover;
}

.st-c-card-small--text {
  overflow-y: hidden;
  margin-bottom: 0;
  width: 100%;
  height: 170px;
}

 /* `sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
   .st-c-card-horizontal,
   .st-c-card {
    flex-direction: column;
    width: auto;
    height: 100%;
   }

   .st-c-card-horizontal--image,
   .st-c-card img {
    width: 100%;
   }

   .st-c-card-small--text {
    height: 230px;
  }
 }

 @media (min-width: 768px) { 
  .st-c-card-small--text {
    height: 150px;
  }
   .st-c-card-horizontal--image {
    width: 100%;
   }

   .st-c-card-small--text {
    height: 230px;
  }
 }

 @media (min-width: 768px) { 
  .st-c-card-small--text {
    height: 150px;
  }
 }
